:root {
  --dark-grey: #191919;
  --medium-yellow: #ffc01e;
  --dark-yellow: #ecae0f;
  --medium-grey: #a8a8a8;
  --medium-green: #33cf72;
  --dark-grey-1: #333;
  --medium-dark-grey: #808a95;
  --medium-red: #ff3a3a;
  --medium-pink: #ec008c;
  --light-grey: #f5f5f5;
  --medium-orange: #ff8832;
  --medium-cyan: #5bc4c4;
  --dark-blue: #11595c;
  --dark-blue-1: #147a81;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  color: #000;
  line-height: 1.6;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

html {
  font-size: 68%;
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 62%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 56%;
  }
}

/* Typography */

h1 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 4.7rem;
  font-weight: bold;
}

h2 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.grey-text {
  color: var(--medium-grey) !important;
}

.green-text {
  color: var(--medium-green) !important;
}

.pink-text {
  color: var(--medium-pink) !important;
}

.red-text {
  color: var(--medium-red) !important;
}

.bold-text {
  font-weight: bold;
}

.capitalise {
  text-transform: capitalize;
}

/* Buttons */

.primary-btn {
  border: none;
  color: #fff;
  background: var(--medium-pink);
  font-size: 15px;
  cursor: pointer;
  padding: 12px 20px;
  outline: none;
  transition: all 0.3s;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  min-width: 100px;
}

.primary-btn:hover {
  color: white !important;
  background: var(--dark-grey-1);
}

.primary-btn span,
.primary-btn a,
.primary-btn {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.primary-btn span:hover {
  color: white;
}

.red-btn {
  background-color: var(--medium-red);
}

.red-btn:hover {
  background-color: #d64439;
}

.white-btn {
  width: 100%;
  margin-top: 30px;
  color: #85c99d;
  padding: 10px;
  background: #fff;
  font-weight: 600;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
}

.white-btn:hover {
  color: #fff;
  background: #444;
}

.small-btn {
  padding: 5px 16px;
}

.secondary-btn {
  background-color: var(--medium-pink);
  border-radius: 3px;
  padding: 10px 24px;
  min-width: 150px;
  width: fit-content;
}

.secondary-btn:hover {
  background-color: var(--dark-grey-1);
}

.secondary-btn span {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.secondary-btn i {
  color: white;
}

.icon-btn {
  font-size: 24px;
  cursor: pointer;
}

.list-btn {
  border-radius: 50%;
  border: 1px solid var(--medium-pink);
  padding: 5px;
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.list-btn i {
  color: var(--medium-pink);
}

.list-btn:hover {
  border: 1px solid var(--dark-grey);
}

.list-btn:hover i {
  color: var(--dark-grey);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fit-content-btn {
  width: fit-content;
}

.floating-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 150;
  display: flex;
  align-items: center;
  width: fit-content;
}

.floating-btn i,
.floating-btn span {
  color: white;
}

.inline-btn {
  color: white;
  text-decoration: none;
}

.inline-btn:hover {
  color: var(--dark-grey);
}

/* Modal */

.modal {
  height: 100vh;
}

.modal-center {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.modal-data {
  max-width: 500px;
  position: relative;
}

/* Form */

.small-form {
  min-width: 500px;
}

.small-input {
  height: 35px !important;
}

ul.radio-input {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0;
}

ul.radio-input li label {
  margin-bottom: 0;
}

ul.radio-input li:not(:last-child) {
  margin-right: 2rem;
}

.form-input {
  padding: 5px 16px;
  width: 100%;
  background-color: white;
  color: #333;
  height: 40px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: 13px;
}

.form-input::placeholder {
  color: var(--medium-grey);
}

.form-input-outline {
  color: #fff;
  font-size: 16px;
  height: 42px;
  position: relative;
  border-radius: 0;
  border: 1px solid white;
  line-height: 42px;
  padding: 10px;
  background: transparent;
  transition: background-color 0.3s;
}

.form-input-outline::placeholder {
  color: white;
}

.error {
  color: var(--medium-red);
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 13px;
  border: 1px solid var(--light-grey);
}

.search-input i {
  cursor: pointer;
  margin-left: 1rem;
}

.search-input input[type="text"] {
  padding: 8px 24px;
  border-radius: 3px;
  background-color: white;
  outline: none;
  border: none;
}

.search-input input[type="submit"] {
  outline: none;
  border: none;
  margin-left: -2.5rem;
  background-color: transparent;
}

.timepicker {
  display: flex;
  align-items: center;
}

.timepicker span {
  display: block;
  margin: 0 1rem;
}

/* Card */

.white-card {
  background-color: white;
  padding: 32px;
  border: 1px solid #ededed;
  border-radius: 3px;
}

.blue-card {
  position: relative;
  text-align: center;
  background: #78cfcf;
  border-radius: 0px;
  border: none;
  min-width: 500px;
  padding: 60px;
}

.dark-grey-card {
  background-color: var(--dark-grey);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 450px;
  padding: 24px 32px;
  text-align: center;
}

/* Chip */

.chip {
  border-radius: 20px;
  padding: 5px 16px;
  color: white;
  background-size: 200% auto;
  transition: 0.5s;
}

.chip span {
  display: block;
  text-align: center;
  margin: auto;
}

.green-chip {
  background-image: linear-gradient(
    to right,
    var(--medium-green),
    rgb(21, 143, 82)
  );
}

.red-chip {
  background-image: linear-gradient(
    to right,
    var(--medium-red),
    rgb(182, 26, 26)
  );
}

.yellow-chip {
  background-image: linear-gradient(
    to right,
    var(--medium-yellow),
    rgb(209, 171, 0)
  );
}

.chip:hover {
  background-position: right center;
}

/* Lists */

.list-header {
  background-color: white;
  border-radius: 3px;
  padding: 16px 24px;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.list-header span {
  display: block;
  font-weight: bold;
}

.list-lg {
  width: 60%;
}

.list-md {
  width: 40%;
}

.list-sm {
  width: 20%;
}

.products-list,
.orders-list {
  list-style: none;
  margin: none;
  position: relative;
}

.products-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.products-list li {
  border-bottom: 1px solid #dee2e6;
}

.products-list li:nth-child(even) {
  background-color: #f9f9f9;
}

.products-list li.products-item:not(:last-child) {
  border-bottom: 1px solid var(--medium-grey);
}

.orders-list li.orders-item:not(:last-child) {
  margin-bottom: 2rem;
}

.products-product {
  display: flex;
  align-items: center;
}

.products-product .products-img {
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.products-product .products-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.products-product .products-title h4 {
  font-size: 1.7rem;
  font-weight: bold;
  display: block;
}

.products-product .products-title span {
  font-size: 1.5rem;
  color: var(--medium-dark-grey);
  display: block;
}

.products-quantity div {
  border-radius: 20px;
  border: 1px solid var(--medium-grey);
  padding: 5px 16px;
  display: flex;
  width: fit-content;
  background-color: white;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-quantity span {
  display: block;
  margin: 0 1rem;
}

.orders-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--medium-grey);
  border-radius: 20px;
  background-color: white;
}

.orders-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
}

.orders-header .orders-price {
  font-size: 4rem;
  font-weight: lighter;
}

.orders-list-header {
  background-color: var(--dark-grey);
  padding: 8px 24px;
  color: white;
  display: flex;
  align-items: center;
}

/* Popup */

.popup-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  position: fixed;
}

.popup-title {
  font-size: 2rem;
  font-weight: bold;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 24px 32px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #999999;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .popup {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .popup {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* Filter */

.filter-panel {
  min-width: 300px;
}

.main-panel {
  margin-left: 2rem;
  background-color: white;
  padding: 24px;
}

.need-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.need-help i {
  font-size: 52px;
  color: #999;
}

/* Table */

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 500px;
}

.table td,
.table th {
  border: 1px solid var(--medium-grey);
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: white;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--dark-grey);
  color: white;
}

.table th.small-width {
  width: 15%;
}

/* Nav */

.home-nav {
  background-color: var(--medium-cyan);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
}

.home-nav-icon {
  cursor: pointer;
  display: flex;
  color: white;
}

.home-nav-icon:hover {
  color: var(--light-grey);
}

.home-nav ul li a {
  color: #fff;
  padding: 2px 8px 15px 10px;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

.home-nav ul li.active-nav-item a {
  color: var(--light-grey);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-nav ul li {
  margin-left: 2rem;
}

.home-nav a h4 {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: lighter;
}

.home-nav .phone {
  display: flex;
  align-items: center;
}

.home-nav-right {
  display: flex;
}

.home-nav-right > *:not(:last-child) {
  margin-right: 2rem;
}

.home-nav .exit-btn {
  font-size: 1.3rem;
}

.home-nav .exit-btn i,
.home-nav .exit-btn span {
  display: block;
  color: white;
}

.home-nav-dropdown button {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.home-nav-dropdown .dropdown-menu {
  background-color: var(--dark-grey);
}

/* Badge */

.badge {
  background-color: var(--medium-yellow);
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Footer */

.footer-top {
  display: flex;
  flex-direction: column;
}

.footer-info {
  width: 80%;
}

footer {
  background-color: #fff;
  border-top: 1px solid #ededed;
  padding: 35px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer h3 {
  font-size: 16px;
  font-weight: 600;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #ec008c;
}

footer ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}

footer .btn_1 {
  text-transform: none;
  padding: 8px 15px;
  background: #555;
}

#social_footer {
  text-align: center;
  border-top: 1px solid #ededed;
  padding-top: 30px;
  margin-top: 30px;
}

#social_footer p {
  font-size: 12px;
  color: #8c8c8c;
}

#social_footer ul {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
}

#social_footer ul li {
  display: inline-block;
  margin: 0 5px 10px 5px;
}

#social_footer ul li a {
  color: #666;
  text-align: center;
  line-height: 34px;
  display: block;
  font-size: 16px;
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#social_footer ul li a:hover {
  background: #fff;
  color: #111;
}

a#promote {
  display: inline-block;
  position: relative;
  background: #ec008c;
  position: relative;
  color: #fff;
  padding: 10px 15px 10px 42px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin-top: 10px;
  font-weight: 600;
}

a#promote:hover {
  background-color: #333;
}

a#promote:before {
  content: "\e003";
  font-family: "ElegantIcons";
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  position: absolute;
  left: 10px;
  top: 6px;
}

footer .styled-select select {
  background: transparent;
  width: 115%;
  padding: 7px 5px 5px 15px;
  border: 0;
  border-radius: 0;
  height: 37px;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  color: #444;
  box-shadow: none;
}

footer .styled-select {
  width: 100%;
  overflow: hidden;
  height: 40px;
  background: #f8f8f8 url(../img/arrow_down.svg) no-repeat right center;
  border: none;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.styled-select select::-ms-expand {
  display: none;
}

.styled-select select:focus {
  outline: none;
}

/* Header */

.dark-header {
  margin-top: 55px;
  background-color: var(--dark-grey);
  color: white;
  text-align: center;
  padding: 32px;
  height: 350px;
}

.dark-header .header-title {
  font-weight: 300;
  font-size: 60px;
}

/* Container */

.grey-container {
  background-color: var(--light-grey);
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 32px 64px;
  min-height: 50vh;
}

/* login.html */

.logo {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  min-height: 100vh;
  padding: 32px 64px !important;
  padding: 0;
  margin-top: 55px;
  background-color: var(--light-grey);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-lock i {
  color: #fff;
  font-size: 60px !important;
  opacity: 0.5;
}

.form .form-input-wrapper:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* index.html */

.home-container {
  min-height: 100vh;
  padding: 0;
  margin-top: 55px;
  background-color: var(--dark-grey);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home-footer {
  background: var(--dark-grey);
}

.home-title {
  color: white;
  text-align: center;
}

.home-content {
  z-index: 1;
  position: relative;
  min-height: 90vh;
  width: 100%;
}

.button-wrapper {
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

/* temp-screening.html, temp-records.html */

.qr-wrapper {
  border: 20px solid black;
  height: 400px;
  width: 400px;
  overflow: hidden;
  border-radius: 50px;
  margin: auto;
}

.qr {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  border: 10px solid #18a1fd;
}

.qr img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.link {
  text-decoration: underline;
  color: #18a1fd;
  font-weight: bold;
}

.temp-icon i {
  font-size: 10rem;
}

.temp-subtitle span {
  color: var(--medium-dark-grey);
  font-size: 2rem;
  display: block;
}

/* live-counter.html */

.count-container {
  background-color: var(--light-grey);
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.count-title {
  font-size: 5.5rem;
  color: var(--dark-grey);
  letter-spacing: 5px;
}

.odometer-face {
  height: 150px;
  display: flex;
  color: var(--dark-blue);
  margin: 2rem auto;
  background-color: white;
  border: 10px solid var(--dark-blue);
  border-radius: 10px;
  font-size: 8rem;
  position: relative;
}

.odometer-face::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: var(--dark-blue-1);
  opacity: 0.5;
}

.odometer-face::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: var(--dark-blue-1);
  opacity: 0.5;
}

.odometer-wrapper {
  background: var(--medium-cyan);
  height: 300px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80px;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 1s;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.digit:first-child {
  border-left: none;
}

.digit-container {
  transition: transform 1s;
  text-align: center;
  font-weight: bold;
  color: var(--medium-orange);
  border: none;
  width: 100%;
}

.digit-slide {
  animation-name: slide;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.digit-transform {
  transform: translateY(-10em);
}

@keyframes slide {
  from {
    transform: translateY(10em);
  }
  to {
    transform: translateY(0);
  }
}

.odometer-title {
  font-weight: bold;
}

.odometer-info .danger,
.odometer-info .warning,
.odometer-info .success {
  padding: 5px 16px;
  color: white;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.odometer-info .danger {
  background-color: var(--medium-red);
}

.odometer-info .warning {
  background-color: var(--medium-orange);
}

.odometer-info .success {
  background-color: var(--medium-green);
}

/* cart.html */

.cart-products-subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coupon-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coupon-form > div:not(:last-child) {
  margin-right: 3rem;
}

.cart-summary-card {
  background-color: rgb(222, 232, 240);
  border-radius: 20px;
  padding: 16px 24px;
  width: 300px;
}

.cart-summary-card .cart-summary-item:not(:last-child) {
  margin-bottom: 1rem;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-summary-item span {
  display: block;
}

.cart-summary-item.summary-total {
  font-size: 1.7rem;
  font-weight: bold;
}

/* Checkout */

.checkout-left > div:not(:last-child) {
  margin-bottom: 2rem;
}

.checkout-right {
  color: var(--dark-grey);
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-item.checkout-total {
  font-size: 2rem;
  text-transform: uppercase;
}

.timeline {
  overflow-x: hidden;
  padding: 20px 0;
}

.timeline ol {
  width: 100%;
  transition: all 1s;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.timeline ol li {
  list-style: none;
  position: relative;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 5px;
}

.timeline ol li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: var(--dark-blue);
  border: 5px solid var(--light-grey);
  margin: 0 auto 5px auto;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  width: calc(100% - 14px);
  height: 5px;
  display: block;
  background-color: var(--light-grey);
  margin: 0;
  position: absolute;
  top: 7px;
  left: calc(50% + 7px);
}

.timeline-active::after {
  background-color: var(--medium-yellow) !important;
}

.timeline-active::before {
  border-color: var(--medium-yellow) !important;
}
