{% extends "admin_layout.html" %} {% block title %}Orders - Staff{% endblock %}
{% block heading %}Orders - Staff{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container justify-content-between">
    <div>
      <div class="white-card filter-panel mb-5">
        <div class="mb-5">
          <h3>Filter</h3>
        </div>
        <form id="filter-form" method="POST" action="" >
          {{ time_form.hidden_tag() }}
          <div class="mb-3">
            <label class="mb-2">
              <span><b>By Date</b></span>
            </label>
            {% if time_form.date.errors %} {{ time_form.date(class="form-input
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in time_form.date.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ time_form.date(class="form-input",
            placeholder="YYYY-MM-DD") }} {% endif %}
          </div>
          <div id="form-error" class="error mb-3"></div>
          <button class="btn primary-btn">
            {{ time_form.search(class="btn primary-btn") }}
          </button>
        </form>
      </div>
      <div class="white-card need-help">
        <i class="material-icons">support</i>
        <h4>Need Help?</h4>
        <span>Call +65 1234 5678</span>
      </div>
    </div>
    <div class="row flex-column col-lg-8 main-panel">
      <form method="POST" action="">
        {{ search_form.hidden_tag() }}
        <div class="d-flex justify-content-end mb-5">
          <div class="search-input">
            {% if search_form.search.errors %} {{ search_form.search(class="form-input
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in search_form.search.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ search_form.search(placeholder="Search by Order Number")}} {% endif %} {{ search_form.submit(class="material-icons")
            }}
          </div>
        </div>
      </form>
      {% for entry in order_list %}
      <ul class="orders-list">
        <li class="orders-item">
          <form
          method="POST"
          action="{{ url_for('remove_order', id=entry.get_order_id()) }}"
          >
            <div class="close-btn">
              <i class="material-icons" 
                data-toggle="modal"
                data-target="#myModal_{{entry.get_order_id()}}"
                >close</i>
            </div>
            <div class="modal" id="myModal_{{ entry.get_order_id() }}">
              <div class="modal-center">
                <div class="modal-data white-card">
                  <div>
                    <div class="mb-3 text-center">
                      <span class="popup-title">Delete Confirmation</span>
                    </div>
                    <div class="close-btn" data-dismiss="modal">
                      <i class="material-icons">close</i>
                    </div>
                  </div>
                  <div class="mb-5">Are you sure you want to delete?</div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <input
                      type="submit"
                      value="Delete"
                      class="btn primary-btn red-btn"
                    />
                    <button
                      type="button"
                      class="btn primary-btn"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="orders-header">
            <div>
              <div class="d-flex align-items-center">
                <p>{{entry.get_email() }}</p>
              </div>
              <div class="d-flex align-items-center">
                <h4>Order #{{ entry.get_order_id()}}</h4>
              </div>
              <small class="grey-text">{{ entry.get_date1()}}</small>
            </div>
            <div>
              <span class="orders-price">${{ (entry.get_total()) }}</span>
            </div>
          </div>
          <div class="orders-list-header mb-3">
            <span class="list-lg">Items</span>
            <span class="list-sm">Price</span>
            <span class="list-sm">Quantity</span>
          </div>
          {% for product in entry.get_order() %}
          <div class="products-item products-product">
            <div class="list-lg products-product">
              <div class="products-img">
                <img src="./static/assets/img/logo.png" alt="product" />
              </div>
              <div class="products-title">
                <h4>
                  {{((entry.get_order().get(product)).get_product()).get_title()}}
                </h4>
                <span
                  >{{entry.get_order().get(product).get_product().get_info()}}</span
                >
              </div>
            </div>
            <div class="list-sm">
              <span>${{entry.get_order().get(product).get_subtotal()}}</span>
            </div>
            <div class="list-sm">
              <span>{{entry.get_order().get(product).get_quantity()}}</span>
            </div>
          </div>
          {% endfor %}
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
