<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400;700&family=Suez+One&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="shortcut icon" type="image/png" href="./static/assets/img/logo.png" />
</head>

<body>
    <nav class="navbar fixed-top home-nav justify-content-between">
        <a class="navbar-brand" href="{{ url_for('staff_home') }}">
            <h4>Auntie's <br />Mama Shop</h4>
        </a>
        <ul class="nav home-nav-list">
            <li>
                <a href="{{ url_for('staff_records') }}">Temperature Screening</a>
            </li>
            <li>
                <div class="dropdown home-nav-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Store Entry
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('staff_graph') }}">Store Entry Graph</a>
                        <a class="dropdown-item" href="{{ url_for('staff_home') }}">Live Count</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown home-nav-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('staff_estore') }}">Menu</a>
                        <a class="dropdown-item" href="orders.html">Orders</a>
                        <a class="dropdown-item" href="{{ url_for('shop_graph')}}">Shop Graph</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="home-nav-right">
            <div class="phone">
                <i class="material-icons-outlined yellow-text mr-2">call</i>
                <span>+65 1234 5678</span>
            </div>
            <a class="d-flex align-items-center exit-btn" id="exit-btn" href="{{ url_for('home') }}">
                <span class="mr-2">Exit</span>
                <i class="material-icons">login</i>
            </a>
        </div>
    </nav>
    <header class="dark-header d-flex align-items-center justify-content-center">
        <div>
            <h1>Menu - Staff</h1>
        </div>
    </header>
    <main>
        <div class="container-fluid grey-container justify-content-between">
            <div>
                <div class="white-card filter-panel mb-5">
                    <div class="mb-5">
                        <h3>Filter</h3>
                    </div>
                    <form id="filter-form">
                        <div class="mb-3">
                            <div class="mb-2">
                                <span><b>By Price</b></span>
                            </div>
                            
                        </div>
                        <div id="form-error" class="error mb-3"></div>
                        {{ price_form.hidden_tag() }}
                                <div class="form-input">
                                    {% if price_form.price.errors %}
                                    {{ price_form.price(class="form-input is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in price_form.price.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ price_form.price(placeholder="Search by Price")}}
                                    {% endif %}
                                </div>
                            <div id="form-error" class="error mb-3"></div>
                                {{ price_form.submit(class="btn primary-btn")}}
                    </form>
                </div>
                <div class="white-card need-help">
                    <i class="material-icons">support</i>
                    <h4>Need Help?</h4>
                    <span>Call +65 1234 5678</span>
                </div>
            </div>
            <div class="row flex-column col-lg-8 main-panel">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="d-flex justify-content-end  mb-5">
                        <div class="search-input">
                            {% if form.search.errors %}
                            {{ form.search(class="form-input is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.search(placeholder="Search by title")}}
                            {% endif %}
                            {{ form.submit(class="material-icons") }}
                        </div>
                    </div>
                </form>
                <div class="list-header">
                    <span class="list-lg">Item</span>
                    <span class="list-sm">Price</span>
                    <span class="list-sm">Action</span>
                </div>
                {% for entry in product_list %}
                <ul class="products-list">
                    <li class="products-item">
                        <div class="list-lg products-product">
                            <div class="products-img">
                                <img src="./statics/assets/img/logo.png" alt="product">
                            </div>
                            <div class="products-title">
                                <h4>{{ entry.get_title() }}</h4>
                                <span>{{ entry.get_info() }}</span>
                            </div>
                        </div>
                        <div class="list-sm menu-products-price">
                            <span>${{ entry.get_price() }}</span>
                        </div>
                        <div class="list-sm d-flex">
                            <div class="list-btn mr-2">
                                <i class="material-icons">create</i>
                            </div>
                            <div class="list-btn">
                                <i class="material-icons">delete</i>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <button class="btn primary-btn mt-3 floating-btn">
                <i class="material-icons mr-2">add</i>
                <span>New Product</span>
            </button>
        </div>
    </main>

    <!-- Popup -->
    <div class="position-relative">
        <div class="popup-wrapper" id="popup">
            <div class="overlay" id="popup-overlay">
                <div class="popup">
                    <div class="mb-3">
                        <span class="popup-title">Update Product</span>
                    </div>
                    <div class="close-btn" id="close-btn">
                        <i class="material-icons">close</i>
                    </div>
                    <form class="form d-flex flex-column justify-content-center align-items-center" method="POST" action="">
                        {{ product_form.hidden_tag() }}
                            <div class="w-100 mb-3">
                                <label for="title">
                                    <span><b>Title</b></span>
                                </label>
                                {% if product_form.title.errors %}
                                {{ product_form.title(class="form-input is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in product_form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ product_form.title(placeholder="Title")}}
                                {% endif %}
                            </div>
                            <div class="w-100 mb-3">
                                <label for="description">
                                    <span><b>Description</b></span>
                                </label>
                                {% if product_form.info.errors %}
                                {{ product_form.info(class="form-input is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in product_info.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ product_form.info(placeholder="Description of Product")}}
                                {% endif %}
                            </div>
                            <div class="w-100 mb-3">
                                <label for="price">
                                    <span><b>Price</b></span>
                                </label>
                                {% if product_form.price.errors %}
                                {{ product_form.price(class="form-input is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in product_form.price.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ product_form.price(placeholder="Price")}}
                                {% endif %}
                            </div>
                            <div id="popup-error" class="error mb-3"></div>
                            <div id="popup-success" class="success mb-3"></div>
                                {{ product_form.submit(class="btn primary-btn")}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>