{% extends "admin_layout.html" %} {% block title %}Menu - Staff{% endblock %} {%
block heading %}Menu - Staff{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container justify-content-between">
    <div>
      <div class="white-card filter-panel mb-5">
        <div class="mb-5">
          <h3>Filter</h3>
        </div>
        <form id="filter-form" method="POST" action="">
          <div class="mb-3">
            <div class="mb-2">
              <span><b>By Price</b></span>
            </div>
          </div>
          <div id="form-error" class="error mb-3"></div>
          {{ price_form.hidden_tag() }} {% if price_form.price.errors %} {{
          price_form.price(class="form-input is-invalid") }}
          <div class="invalid-feedback">
            {% for error in price_form.price.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ price_form.price(placeholder="Search by Price",
          class="form-input")}} {% endif %}
          <div class="mb-3 w-100">
            {{ price_form.submit(class="btn primary-btn w-100")}}
          </div>
        </form>
      </div>
      <div class="white-card need-help">
        <i class="material-icons">support</i>
        <h4>Need Help?</h4>
        <span>Call +65 1234 5678</span>
      </div>
    </div>
    <div class="row flex-column col-lg-8 main-panel">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="d-flex justify-content-end mb-5">
          <div class="search-input">
            {% if form.search.errors %} {{ form.search(class="form-input
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.search.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.search(placeholder="Search by title")}} {% endif
            %} {{ form.submit(class="material-icons") }}
          </div>
        </div>
      </form>
      <div class="list-header">
        <span class="list-lg">Item</span>
        <span class="list-sm">Price</span>
        <span class="list-sm">Action</span>
      </div>
      {% for entry in product_list %}
      <ul class="products-list">
        <li class="products-item">
          <div class="list-lg products-product">
            <div class="products-img">
              <img src="./static/assets/img/logo.png" alt="product" />
            </div>
            <div class="products-title">
              <h4>{{ entry.get_title() }}</h4>
              <span>{{ entry.get_info() }}</span>
            </div>
          </div>
          <div class="list-sm menu-products-price">
            <span>${{ entry.get_price() }}</span>
          </div>
          <div class="list-sm d-flex">
            <form
              method="POST"
              action="{{ url_for('update', id=entry.get_product_id()) }}"
            >
              <div class="list-btn">
                <i class="material-icons"
                data-toggle="modal" 
                data-target="#updateModal_{{ entry.get_product_id() }}"
                >edit</i>
              </div>
              <div class="modal fade" id="updateModal_{{ entry.get_product_id() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><b>Modal title</b></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{ update_form.hidden_tag() }}
                        <div class="w-100 mb-3">
                          <label for="title">
                            <span><b>Title</b></span>
                          </label>
                          {% if update_form.title.errors %} {{
                          update_form.title(class="form-input is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in update_form.title.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %} {{ update_form.title(class="form-input",
                          placeholder="Title")}} {% endif %}
                        </div>
                        <div class="w-100 mb-3">
                          <label for="description">
                            <span><b>Description</b></span>
                          </label>
                          {% if update_form.info.errors %} {{
                          update_form.info(class="form-input is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in update_form.info.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %} {{ update_form.info(class="form-input",
                          placeholder="Description of Product")}} {% endif %}
                        </div>
                        <div class="w-100 mb-3">
                          <label for="price">
                            <span><b>Price</b></span>
                          </label>
                          {% if update_form.price.errors %} {{
                          update_form.price(class="form-input is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in update_form.price.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %} {{ update_form.price(class="form-input",
                          placeholder="Price")}} {% endif %}
                        </div>
                        <div id="popup-error" class="error mb-3"></div>
                        <div id="popup-success" class="success mb-3"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      {{ update_form.submit(class="btn btn-primary")}}
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form
              method="POST"
              action="{{ url_for('remove', id=entry.get_product_id()) }}"
            >
              <div class="list-btn">
                <i
                  class="material-icons"
                  data-toggle="modal"
                  data-target="#myModal_{{entry.get_product_id()}}"
                  >delete</i
                >
              </div>
              <div class="modal" id="myModal_{{ entry.get_product_id() }}">
                <div class="modal-center">
                  <div class="modal-data white-card">
                    <div class="">
                      <div class="mb-3 text-center">
                        <span class="popup-title">Delete Confirmation</span>
                      </div>
                      <div class="close-btn" data-dismiss="modal">
                        <i class="material-icons">close</i>
                      </div>
                    </div>
                    <div class="mb-5">Are you sure you want to delete?</div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <input
                        type="submit"
                        value="Delete"
                        class="btn primary-btn red-btn"
                      />
                      <button
                        type="button"
                        class="btn primary-btn"
                        data-dismiss="modal"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
      {% endfor %}
    </div>
    <button class="btn primary-btn mt-3 floating-btn" id="new-product-btn">
      <i class="material-icons mr-2">add</i>
      <span>New Product</span>
    </button>
  </div>
</main>

<!-- Add Popup -->
<div class="position-relative" id="add-popup">
  <div class="popup-wrapper">
    <div class="overlay" id="popup-overlay">
      <div class="popup">
        <div class="mb-3">
          <span class="popup-title">Add Product</span>
        </div>
        <div class="close-btn">
          <i class="material-icons">close</i>
        </div>
        <form
          class="form d-flex flex-column justify-content-center align-items-center"
          method="POST"
          action=""
        >
          {{ product_form.hidden_tag() }}
          <div class="w-100 mb-3">
            <label for="title">
              <span><b>Title</b></span>
            </label>
            {% if product_form.title.errors %} {{
            product_form.title(class="form-input is-invalid") }}
            <div class="invalid-feedback">
              {% for error in product_form.title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ product_form.title(class="form-input",
            placeholder="Title")}} {% endif %}
          </div>
          <div class="w-100 mb-3">
            <label for="description">
              <span><b>Description</b></span>
            </label>
            {% if product_form.info.errors %} {{
            product_form.info(class="form-input is-invalid") }}
            <div class="invalid-feedback">
              {% for error in product_form.info.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ product_form.info(class="form-input",
            placeholder="Description of Product")}} {% endif %}
          </div>
          <div class="w-100 mb-3">
            <label for="price">
              <span><b>Price</b></span>
            </label>
            {% if product_form.price.errors %} {{
            product_form.price(class="form-input is-invalid") }}
            <div class="invalid-feedback">
              {% for error in product_form.price.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ product_form.price(class="form-input",
            placeholder="Price")}} {% endif %}
          </div>
          <div id="popup-error" class="error mb-3"></div>
          <div id="popup-success" class="success mb-3"></div>
          {{ product_form.submit(class="btn primary-btn")}}
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %} {% block scripts %} {{super()}}
<script>
  $(document).ready(function () {
    $("#add-popup").hide();
    $("#update-popup").hide();

    // Hide popup on close button click
    $(".close-btn").click(function () {
      $("#add-popup").hide();
      $("#update-popup").hide();
    });
    // Show popup on new product button click
    $("#new-product-btn").click(function () {
      $("#add-popup").show();
    });
  });
</script>
{% endblock %}
