{% extends "customer_layout.html" %} {% block title %}Orders{% endblock %} {%
block heading %}Orders{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container justify-content-between">
    <div>
      <div class="white-card filter-panel mb-5">
        <div class="mb-5">
          <h3>Filter</h3>
        </div>
        <form id="filter-form">
          <div class="mb-3">
            <label class="mb-2">
              <span><b>By Date</b></span>
            </label>
            <input
              class="form-input"
              id="date"
              name="date"
              type="text"
              placeholder="YYYY-MM-DD"
              required
            />
          </div>
          <div id="form-error" class="error mb-3"></div>
          <button class="btn primary-btn">
            <span>Submit</span>
          </button>
        </form>
      </div>
      <div class="white-card need-help">
        <i class="material-icons">support</i>
        <h4>Need Help?</h4>
        <span>Call +65 1234 5678</span>
      </div>
    </div>
    <div class="row flex-column col-lg-8 main-panel">
      <div class="d-flex justify-content-end mb-5">
        <div class="search-input">
          <input type="text" />
          <i class="material-icons">search</i>
        </div>
      </div>
      <h3 class="mb-5"><b>{{ email }}'s Order History</b></h3>
      {% for entry in order_list %}
      <ul class="orders-list">
        <li class="orders-item">
          <div class="close-btn">
            <i class="material-icons">close</i>
          </div>
          <div class="orders-header">
            <div>
              <div class="d-flex align-items-center">
                <h4>Order #{{ entry.get_order_id()}}</h4>
              </div>
              <small class="grey-text">{{ entry.get_date1()}}</small>
            </div>
            <div>
              <span class="orders-price">${{ entry.get_total() }}</span>
            </div>
          </div>
          <div class="orders-list-header mb-3">
            <span class="list-lg">Items</span>
            <span class="list-sm">Price</span>
            <span class="list-sm">Quantity</span>
          </div>
          {% for product in entry.get_order() %}
          <div class="products-item products-product">
            <div class="list-lg products-product">
              <div class="products-img">
                <img src="./static/assets/img/logo.png" alt="product" />
              </div>
              <div class="products-title">
                <h4>
                  {{((entry.get_order().get(product)).get_product()).get_title()}}
                </h4>
                <span
                  >{{entry.get_order().get(product).get_product().get_info()}}</span
                >
              </div>
            </div>
            <div class="list-sm">
              <span>${{entry.get_order().get(product).get_subtotal()}}</span>
            </div>
            <div class="list-sm">
              <span>{{entry.get_order().get(product).get_quantity()}}</span>
            </div>
          </div>
          {% endfor %}
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
