<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400;700&family=Suez+One&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" type="image/png" href="../assets/img/logo.png" />
</head>

<body>
    <nav class="navbar fixed-top home-nav justify-content-between">
        <a class="navbar-brand" href="../index.html">
            <h4>Auntie's <br />Mama Shop</h4>
        </a>
        <ul class="nav home-nav-list">
            <li>
                <a href="../live-counter.html">Live Counter</a>
            </li>
            <li>
                <div class="dropdown home-nav-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="menu.html">Menu</a>
                        <a class="dropdown-item" href="cart.html">Cart</a>
                        <a class="dropdown-item" href="orders.html">Orders</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="home-nav-right">
            <div class="phone">
                <i class="material-icons-outlined yellow-text mr-2">call</i>
                <span>+65 1234 5678</span>
            </div>
            <a class="home-nav-icon position-relative" href="cart.html">
                <div class="badge">3</div>
                <i class="material-icons">shopping_cart</i>
            </a>
            <a class="d-flex align-items-center exit-btn" id="exit-btn" href="../index.html">
                <span class="mr-2">Exit</span>
                <i class="material-icons">login</i>
            </a>
        </div>
    </nav>
    <header class="dark-header d-flex align-items-center justify-content-center">
        <div>
            <h1>Orders</h1>
        </div>
    </header>
    <main>
        <div class="container-fluid grey-container justify-content-between">
            <div>
                <div class="white-card filter-panel mb-5">
                    <div class="mb-5">
                        <h3>Filter</h3>
                    </div>
                    <form id="filter-form">
                        <div class="mb-3">
                            <div class="mb-2">
                                <span><b>By Date</b></span>
                            </div>
                            <div id="datepicker"></div>
                        </div>
                        <div id="form-error" class="error mb-3"></div>
                        <button class="btn primary-btn">
                            <span>Submit</span>
                        </button>
                    </form>
                </div>
                <div class="white-card need-help">
                    <i class="material-icons">support</i>
                    <h4>Need Help?</h4>
                    <span>Call +65 1234 5678</span>
                </div>
            </div>
            <div class="row flex-column col-lg-8 main-panel">
                <div class="d-flex justify-content-end  mb-5">
                    <div class="search-input">
                        {{ render_field(form.search, type="text", placeholder="Search order no.")}}
                        <i class="material-icons">search</i>
                    </div>
                </div>
                <ul class="orders-list">
                    <li class="orders-item">
                        <div class="orders-header">
                            <div>
                                <div class="d-flex align-items-center">
                                    <h3>Order #1</h3>
                                    <div class="list-btn ml-2" id="edit-order-btn">
                                        <i class="material-icons">create</i>
                                    </div>
                                </div>
                                <span class="grey-text">12-01-2020</span>
                            </div>
                            <div>
                                <span class="orders-price">$8.70</span>
                                <div class="chip green-chip">
                                    <span>Completed</span>
                                </div>
                            </div>
                        </div>
                        <div class="orders-list-header mb-3">
                            <span class="list-lg">Items</span>
                            <span class="list-sm">Price</span>
                            <span class="list-sm">Quantity</span>
                        </div>
                        <div class="products-item products-product">
                            <div class="list-lg products-product">
                                <div class="products-img">
                                    <img src="../assets/img/logo.png" alt="product">
                                </div>
                                <div class="products-title">
                                    <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                                    <span>5 Count/ 120 grams</span>
                                </div>
                            </div>
                            <div class="list-sm">
                                <span>$4.35</span>
                            </div>
                            <div class="list-sm">
                                <span>x 5</span>
                            </div>
                        </div>
                        <div class="products-item products-product">
                            <div class="list-lg products-product">
                                <div class="products-img">
                                    <img src="../assets/img/logo.png" alt="product">
                                </div>
                                <div class="products-title">
                                    <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                                    <span>5 Count/ 120 grams</span>
                                </div>
                            </div>
                            <div class="list-sm">
                                <span>$4.35</span>
                            </div>
                            <div class="list-sm">
                                <span>x 2</span>
                            </div>
                        </div>
                    </li>
                    <li class="orders-item">
                        <div class="orders-header">
                            <div>
                                <div class="d-flex align-items-center">
                                    <h3>Order #1</h3>
                                    <div class="list-btn ml-2" id="edit-order-btn">
                                        <i class="material-icons">create</i>
                                    </div>
                                </div>
                                <span class="grey-text">12-01-2020</span>
                            </div>
                            <div>
                                <span class="orders-price">$8.70</span>
                                <div class="chip green-chip">
                                    <span>Completed</span>
                                </div>
                            </div>
                        </div>
                        <div class="orders-list-header mb-3">
                            <span class="list-lg">Items</span>
                            <span class="list-sm">Price</span>
                            <span class="list-sm">Quantity</span>
                        </div>
                        <div class="products-item products-product">
                            <div class="list-lg products-product">
                                <div class="products-img">
                                    <img src="../assets/img/logo.png" alt="product">
                                </div>
                                <div class="products-title">
                                    <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                                    <span>5 Count/ 120 grams</span>
                                </div>
                            </div>
                            <div class="list-sm">
                                <span>$4.35</span>
                            </div>
                            <div class="list-sm">
                                <span>x 5</span>
                            </div>
                        </div>
                        <div class="products-item products-product">
                            <div class="list-lg products-product">
                                <div class="products-img">
                                    <img src="../assets/img/logo.png" alt="product">
                                </div>
                                <div class="products-title">
                                    <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                                    <span>5 Count/ 120 grams</span>
                                </div>
                            </div>
                            <div class="list-sm">
                                <span>$4.35</span>
                            </div>
                            <div class="list-sm">
                                <span>x 2</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            // Set up datepicker
            $("#datepicker").datepicker();
        });
    </script>
</body>

</html>