{% extends "customer_layout.html" %} {% block title %}Orders{% endblock %} {%
block heading %}Orders{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container justify-content-between">
    <div>
      <div class="white-card filter-panel mb-5">
        <div class="mb-5">
          <h3>Filter</h3>
        </div>
        <form id="filter-form">
          <div class="mb-3">
            <label class="mb-2">
              <span><b>By Date</b></span>
            </label>
            <input
              class="form-input"
              id="date"
              name="date"
              type="text"
              placeholder="YYYY-MM-DD"
              required
            />
          </div>
          <div id="form-error" class="error mb-3"></div>
          <button class="btn primary-btn">
            <span>Submit</span>
          </button>
        </form>
      </div>
      <div class="white-card need-help">
        <i class="material-icons">support</i>
        <h4>Need Help?</h4>
        <span>Call +65 1234 5678</span>
      </div>
    </div>
    <div class="row flex-column col-lg-8 main-panel">
      <div class="d-flex justify-content-end mb-5">
        <div class="search-input">
          {{ render_field(form.search, type="text", placeholder="Search order
          no.")}}
          <i class="material-icons">search</i>
        </div>
      </div>
      <ul class="orders-list">
        <li class="orders-item">
          <div class="orders-header">
            <div>
              <div class="d-flex align-items-center">
                <h3>Order #1</h3>
                <div class="list-btn ml-2" id="edit-order-btn">
                  <i class="material-icons">create</i>
                </div>
              </div>
              <span class="grey-text">12-01-2020</span>
            </div>
            <div>
              <span class="orders-price">$8.70</span>
              <div class="chip green-chip">
                <span>Completed</span>
              </div>
            </div>
          </div>
          <div class="orders-list-header mb-3">
            <span class="list-lg">Items</span>
            <span class="list-sm">Price</span>
            <span class="list-sm">Quantity</span>
          </div>
          <div class="products-item products-product">
            <div class="list-lg products-product">
              <div class="products-img">
                <img src="../assets/img/logo.png" alt="product" />
              </div>
              <div class="products-title">
                <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                <span>5 Count/ 120 grams</span>
              </div>
            </div>
            <div class="list-sm">
              <span>$4.35</span>
            </div>
            <div class="list-sm">
              <span>x 5</span>
            </div>
          </div>
          <div class="products-item products-product">
            <div class="list-lg products-product">
              <div class="products-img">
                <img src="../assets/img/logo.png" alt="product" />
              </div>
              <div class="products-title">
                <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                <span>5 Count/ 120 grams</span>
              </div>
            </div>
            <div class="list-sm">
              <span>$4.35</span>
            </div>
            <div class="list-sm">
              <span>x 2</span>
            </div>
          </div>
        </li>
        <li class="orders-item">
          <div class="orders-header">
            <div>
              <div class="d-flex align-items-center">
                <h3>Order #1</h3>
                <div class="list-btn ml-2" id="edit-order-btn">
                  <i class="material-icons">create</i>
                </div>
              </div>
              <span class="grey-text">12-01-2020</span>
            </div>
            <div>
              <span class="orders-price">$8.70</span>
              <div class="chip green-chip">
                <span>Completed</span>
              </div>
            </div>
          </div>
          <div class="orders-list-header mb-3">
            <span class="list-lg">Items</span>
            <span class="list-sm">Price</span>
            <span class="list-sm">Quantity</span>
          </div>
          <div class="products-item products-product">
            <div class="list-lg products-product">
              <div class="products-img">
                <img src="../assets/img/logo.png" alt="product" />
              </div>
              <div class="products-title">
                <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                <span>5 Count/ 120 grams</span>
              </div>
            </div>
            <div class="list-sm">
              <span>$4.35</span>
            </div>
            <div class="list-sm">
              <span>x 5</span>
            </div>
          </div>
          <div class="products-item products-product">
            <div class="list-lg products-product">
              <div class="products-img">
                <img src="../assets/img/logo.png" alt="product" />
              </div>
              <div class="products-title">
                <h4>Nongshim Shrimp Shin Ramyun Noodles</h4>
                <span>5 Count/ 120 grams</span>
              </div>
            </div>
            <div class="list-sm">
              <span>$4.35</span>
            </div>
            <div class="list-sm">
              <span>x 2</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
