{% extends "customer_layout.html" %} {% block title %}Menu{% endblock %} {%
block heading %}Cart{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container">
    <div class="row flex-column col-lg-8 main-panel">
      <div class="list-header">
        <span class="list-md">Item</span>
        <span class="list-sm">Quantity</span>
        <span class="list-sm">Price</span>
        <span class="list-sm">Subtotal</span>
      </div>
      {% for entry in cart_list %}
      <ul class="products-list">
        <li class="products-item">
          <div class="list-md products-product">
            <div class="products-img">
              <img src="./static/assets/img/logo.png" alt="product" />
            </div>
            <div class="products-title">
              <h4>{{(entry.get_product()).get_title()}}</h4>
              <span>{{(entry.get_product()).get_info()}}</span>
            </div>
          </div>
          <div class="list-sm products-quantity">
            <div>
              <span>{{entry.get_quantity()}}</span>
            </div>
          </div>
          <div class="list-sm">
            <span>${{(entry.get_product()).get_price()}}</span>
          </div>
          <div class="list-sm cart-products-subtotal">
            <span><b>{{(entry.get_product()).get_price()}}</b></span>
            <i class="material-icons icon-btn">close</i>
          </div>
        </li>
      </ul>
      {% endfor%}
      <form class="coupon-form mb-5" id="coupon-form">
        <div class="d-flex align-items-center">
          <i class="material-icons icon-btn yellow-text mr-2">cached</i>
          <span><b>Update</b></span>
        </div>
        <div>
          <input />
          <button class="btn primary-btn">
            <span>Apply</span>
          </button>
        </div>
      </form>
      <div class="d-flex justify-content-end">
        <div class="cart-summary-card">
          <div class="cart-summary-item">
            <span><b>Subtotal</b></span>
            <span><b>$16.70</b></span>
          </div>
          <div class="cart-summary-item">
            <span>Delivery</span>
            <span>$3.00</span>
          </div>
          <div class="cart-summary-item summary-total">
            <span>Total</span>
            <span>$19.70</span>
          </div>
          <button class="btn primary-btn w-100" id="checkout-btn">
            <span>Checkout</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
