{% extends "customer_layout.html" %} {% block title %}Menu{% endblock %} {%
block heading %}Cart{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container">
    <div class="row flex-column col-lg-8 main-panel">
      <div class="list-header">
        <span class="list-md">Item</span>
        <span class="list-sm">Quantity</span>
        <span class="list-sm">Price</span>
        <span class="list-sm">Subtotal</span>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor%} {% endif %} {% endwith %}
      {% for entry in cart_list %}
      <ul class="products-list">
        <li class="products-item">
          <div class="list-md products-product">
            <div class="products-img">
              <img src="./static/assets/img/logo.png" alt="product" />
            </div>
            <div class="products-title">
              <h4>{{(entry.get_product()).get_title()}}</h4>
              <span>{{(entry.get_product()).get_info()}}</span>
            </div>
          </div>
          <div class="list-sm products-quantity">
            <div>
              <span>{{entry.get_quantity()}}</span>
            </div>
          </div>
          <div class="list-sm">
            <span>${{(entry.get_product()).get_price()}}</span>
          </div>
          <div class="list-sm cart-products-subtotal">
            <span><b>${{(entry.get_subtotal())}}</b></span>
            <i class="material-icons icon-btn">close</i>
          </div>
        </li>
      </ul>
      {% endfor%}
      <form method="POST" action="" class="coupon-form mb-5" id="coupon-form">
        {{ form.hidden_tag() }}
        <div>
            {% if form.code.errors %} {{ form.code(class="form-input
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.code.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.code(placeholder="Discount Code")}} {% endif %}
            {{ form.submit(class="btn primary-btn") }}
          </div>
      </form>
      <div class="d-flex justify-content-end">
        <div class="cart-summary-card">
          <div class="cart-summary-item">
            <span><b>Subtotal</b></span>
            <span><b>${{ total_sub }}</b></span>
          </div>
          <div class="cart-summary-item">
            <span><b>Delivery</b></span>
            <span><b>$3.00</b></span>
          </div>
          <div class="cart-summary-item summary-total">
            <span>Total</span>
            <span>${{ total }}</span>
          </div>
          <button class="btn primary-btn w-100" id="checkout-btn">
            <a href="{{ url_for('checkout1')}}">
            <span>Checkout</span>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
