<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auntie's Mama Shop</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400;700&family=Suez+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="./static/styles.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./static/assets/img/logo.png"
    />
  </head>

  <body>
    <nav class="navbar fixed-top home-nav justify-content-between">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <h4>Auntie's <br />Mama Shop</h4>
      </a>
    </nav>
    <main>
      <div class="container-fluid home-container">
        <div
          class="row home-content d-flex flex-column justify-content-center align-items-center"
        >
          <div class="home-title mb-5">
            <h1>
              Welcome To <br />
              AUNTIE'S MAMA SHOP
            </h1>
          </div>
          <hr />
          <div
            class="col-lg-6 d-flex justify-content-between align-items-center"
          >
            <div class="button-wrapper">
              <a class="btn primary-btn" href="{{ url_for('staff_login') }}">
                <span>Staff Login</span>
              </a>
            </div>
            <div class="button-wrapper">
              <a class="btn primary-btn" href="{{ url_for('temp_screen') }}">
                <span>Temperature Screening</span>
              </a>
            </div>
            <div class="button-wrapper">
              <a class="btn primary-btn" href="{{ url_for('e_store') }}">
                <span>Shop</span>
              </a>
            </div>
            <div class="button-wrapper">
              <a class="btn primary-btn" href="{{ url_for('e_store_login')}}">
                <span>Customer Login</span>
              </a>
            </div>
          </div>
        </div>
        <video playsinline autoplay muted loop id="bgvid">
          <source src="./static/assets/video/video.mp4" type="video/mp4" />
        </video>
      </div>
    </main>

    <footer class="light-footer">
      <div class="footer-top">
        <div class="footer-info">
          <div class="mb-3">
            <span class="footer-title">Auntie's Mama Shop</span>
          </div>
          <div class="mb-3">
            <span class="footer-subtitle">Operating Hours</span>
          </div>
          <div>
            <div>
              <b>Mon - Sat:</b>
              <span>9.00 am - 10.00 pm</span>
            </div>
            <div>
              <b>Sun:</b>
              <span>10.00 am - 8.00 pm</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-copyright">
          <span>&copy; All Rights Reserved AUNTIE'S MAMA SHOP 2020</span>
        </div>
      </div>
    </footer>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./static/index.js"></script>
  </body>
</html>
