<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400;700&family=Suez+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="./static/styles.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./static/assets/img/logo.png"
    />
  </head>

  <body>
    <nav class="navbar fixed-top home-nav justify-content-between">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <h4>Auntie's <br />Mama Shop</h4>
      </a>
    </nav>
    {% block content %}{% endblock %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Secure payments with</h3>
            <p>
              <img
                src="./static/assets/img/cards.png"
                alt=""
                class="img-fluid"
              />
            </p>
          </div>
          <div class="col-md-3 footer-top">
            <div class="footer-info">
              <div class="mb-3">
                <h3>Operating Hours</h3>
              </div>
              <div>
                <div>
                  <b>Mon - Sat:</b>
                  <span>9.00 am - 10.00 pm</span>
                </div>
                <div>
                  <b>Sun:</b>
                  <span>10.00 am - 8.00 pm</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="newsletter">
            <h3>Newsletter</h3>
            <div class="mb-2">
              <span
                >Join our newsletter to keep be informed about offers and
                news.</span
              >
            </div>
            <div id="message-newsletter_2"></div>
            <form
              method="post"
              action="#"
              name="newsletter_2"
              id="newsletter_2"
            >
              <div class="form-group">
                <input
                  name="email_newsletter_2"
                  id="email_newsletter_2"
                  type="email"
                  value=""
                  placeholder="Your mail"
                  class="form-control"
                />
              </div>
              <input
                type="submit"
                value="Subscribe"
                class="btn primary-btn small-btn"
                id="submit-newsletter_2"
              />
            </form>
          </div>
          <div class="col-md-2">
            <h3>Settings</h3>
            <div class="styled-select">
              <select name="lang" id="lang">
                <option value="English" selected="">English</option>
                <option value="French">French</option>
                <option value="Spanish">Spanish</option>
                <option value="Russian">Russian</option>
              </select>
            </div>
            <div class="styled-select">
              <select name="currency" id="currency">
                <option value="USD" selected="">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="RUB">RUB</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="social_footer">
              <ul>
                <li>
                  <a href="#0"><i class="fa fa-youtube-square"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-pinterest"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#0"><i class="fa fa-medium"></i></a>
                </li>
              </ul>
              <p>© Auntie's Mama Shop 2020</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
