{% extends "admin_layout.html" %} {% block title %}Shop Graph{% endblock %} {%
block heading %}Shop Graph{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container">
    <div class="row">
      <canvas id="myChart" width="500px" height="800px"></canvas>
    </div>
  </div>
</main>
{% endblock %}{% block scripts %} {{super()}}
<!-- Chart js -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
  integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
  crossorigin="anonymous"
></script>
<script>
  const setUpBarGraph = function () {
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Delivered", "Undelivered"],
        datasets: [
          {
            label: "# of Orders",
            data: [12, 19],
            backgroundColor: ["rgba(255, 99, 132, 1)", "rgba(54, 162, 235, 1)"],
            borderColor: ["rgba(255,99,132,1)", "rgba(54, 162, 235, 1)"],
            borderWidth: 1,
          },
        ],
      },
      options: {
        title: {
          display: true,
          text: "Orders in AUNTIE'S MAMA SHOP",
        },
        responsive: false,
        scales: {
          xAxes: [
            {
              ticks: {
                maxRotation: 90,
                minRotation: 80,
              },
              gridLines: {
                offsetGridLines: true, // à rajouter
              },
            },
            {
              position: "top",
              ticks: {
                maxRotation: 90,
                minRotation: 80,
              },
              gridLines: {
                offsetGridLines: true, // et matcher pareil ici
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
    return myChart;
  };

  $(document).ready(function () {
    // Set up bar graph
    const chart = setUpBarGraph();
  });
</script>
{% endblock %}
