{% extends "admin_layout.html" %} {% block title %}Store Entry Graph{% endblock
%} {% block heading %}Store Entry Graph{% endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container justify-content-between">
    <div class="row col-lg-8 main-panel">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</main>
{% endblock %} {% block scripts %}{{super()}}
<!-- Chart js -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
  integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
    // Set up filter form
    $("#filter-form").submit(function (e) {
      e.preventDefault();
      const day = $(this).find("input[name='day']").val();
      const week = $(this).find("input[name='week']").val();
      const month = $(this).find("input[name='month']").val();
      const year = $(this).find("input[name='year']").val();
    });

    // Set up chart
    let ctx = document.getElementById("myChart").getContext("2d");
    const data = {
      labels: [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
      datasets: [
        {
          label: "{{legend}}",
          lineTension: 0,
          fill: false,
          data: [{% for item in values %}
             {{item}},
            {% endfor %}],
          borderColor: "#000",
          borderWidth: 1,
        },
      ],
    };
    const options = {
      title: {
        display: true,
        text: "Visitors in AUNTIE'S MAMA SHOP",
      },
      scales: {
        yAxes: [
          {
            scaleLabel: {
              display: true,
              labelString: "probability",
            },
          },
        ],
        xAxes: [
          {
            scaleLabel: {
              display: true,
              labelString: "probability1",
            },
          },
        ],
      },
    };
    var myLineChart = new Chart(ctx, {
      type: "line",
      data: data,
      options: options,
    });
  });
</script>
{% endblock %}
