{% extends "admin_layout.html" %} {% block title %}Temperature Screening
Records{% endblock %} {% block heading %}Temperature Screening Records{%
endblock %} {% block content%}
<main>
  <div class="container-fluid grey-container justify-content-between">
    <div class="bootstrap-iso">
      <div class="white-card filter-panel">
        <div class="mb-5">
          <h3>Filter</h3>
        </div>
        <form id="filter-form" method="POST" action="">
          {{ time_form.hidden_tag() }}
          <div class="mb-3">
            <label class="mb-2">
              <span><b>By Date</b></span>
            </label>
            {% if time_form.date.errors %} {{ time_form.date(class="form-input
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in time_form.date.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ time_form.date(class="form-input",
            placeholder="YYYY-MM-DD") }} {% endif %}
            <div id="datepicker"></div>
          </div>
          <div class="mb-3">
            <label for="start-time">
              <span><b>By Time</b></span>
            </label>
            <div class="timepicker mb-3">
              {% if time_form.time1.errors %} {{
              time_form.time1(class="form-input is-invalid") }}
              <div class="invalid-feedback">
                {% for error in time_form.time1.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ time_form.time1(class="form-input",
              placeholder="HH:MM") }} {% endif %}
              <span>To</span>
              {% if time_form.time2.errors %} {{
              time_form.time2(class="form-input is-invalid") }}
              <div class="invalid-feedback">
                {% for error in time_form.time2.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ time_form.time2(class="form-input",
              placeholder="HH:MM") }} {% endif %}
            </div>
          </div>
          {{ time_form.search(class="btn primary-btn") }}
        </form>
      </div>
    </div>
    <div class="row flex-column col-lg-8 main-panel">
      {% if temp_list|length == 0 %}
      <span><b>No data available.</b></span>
      {% else %}
      <div class="d-flex justify-content-end">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="d-flex justify-content-end mb-5">
            <div class="search-input">
              {% if form.search.errors %} {{ form.search(class="form-input
              is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.search.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.search(id="search", placeholder="Search by
              NRIC")}} {% endif %} {{ form.submit(class="material-icons") }}
            </div>
          </div>
        </form>
        <form method="POST" action="">
          {{ reset_form.hidden_tag() }} {{ reset_form.reset(class="btn
          primary-btn small-btn ml-3") }}
        </form>
      </div>
      <table class="table">
        <tr class="table-header">
          <th>Last 4 digits of NRIC</th>
          <th>Temperature</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        {% for entry in temp_list %}
        <tr>
          <td>{{ entry.get_ic_num() }}</td>
          <td>{{ entry.get_temperature() }}</td>
          <td>{{ entry.get_date() }}</td>
          <td>{{ entry.get_time() }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}{% block scripts %}{{super()}}
<script>
  $(document).ready(function () {
    // Set up datepicker
    $("#datepicker").datepicker();
  });
</script>
{% endblock %}
