{% extends "temp_layout.html" %} {% block content %}
<main>
  <div class="container-fluid grey-container">
    <div class="col-lg-6 text-center py-5" id="temp-success">
      <div class="temp-icon mb-5">
        <i class="material-icons green-text">check_circle_outline</i>
      </div>
      <div class="mb-5">
        <h3>Successful Entry!</h3>
      </div>
      <div class="temp-subtitle mb-5">
        <span>Welcome to Auntie's Mama Shop!</span>
        <span>Happy Shopping!</span>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <a class="btn secondary-btn mb-3" href="{{ url_for('live_counter') }}">
          <span><b>Live Counter</b></span>
        </a>
        <a
          class="btn secondary-btn d-flex align-items-center"
          href="{{ url_for('home') }}"
        >
          <span><b>Back To Home</b></span>
          <i class="material-icons">home</i>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
