{% extends "temp_layout.html" %} {% block content %}
<main class="grey-container">
    <div class="col-lg-6" id="temp-info">
      <form id="temp-form" class="mb-5" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-5">
          <h3>Your Information:</h3>
        </div>
        <div class="mb-3">
          {{form.nric.label(class="bold-text capitalise")}} {% if
          form.nric.errors %} {{ form.nric(class="form-input is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.nric.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.nric(placeholder="E.g. 123A", class="form-input")}}
          {% endif %}
        </div>
        <div class="mb-3">
          {{form.temperature.label(class="bold-text")}} {% if
          form.temperature.errors %} {{ form.temperature(class="form-input
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.temperature.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.temperature(class="form-input", placeholder="E.g.
          36.0")}} {% endif %}
        </div>
        <div class="mb-3">
          <b>
            Do you have any of the following symptoms now or within the last 14
            days: Cough, smell/taste impairment, fever, breathing difficulties,
            body aches, headaches, fatigue, sore throat, diarrhoea, and / or
            runny nose (even if your symptoms are mild)?
          </b>
          {% if form.symptoms.errors %} {{ form.symptoms(class="form-input
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.symptoms.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.symptoms(class="radio-input")}} {% endif %}
        </div>
        <div class="mb-5">
          <b>
            Have you been in contact with anyone who is suspected to have or/has
            been diagnosed with Covid-19 within the last 14 days?
          </b>
          {% if form.contact.errors %} {{ form.contact(class="form-input
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.contact.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.contact(class="radio-input")}} {% endif %}
        </div>
        <div class="mb-5 d-flex align-items-start">
          {{form.check(class="mr-2")}} {{form.check.label}}
        </div>
        <div class="justify-content-start">
          {{ form.submit(class="btn primary-btn small-btn") }}
        </div>
      </form>
      <div class="qr-wrapper mb-5">
        <div class="qr">
          <img src="static/assets/img/qr-code.png" alt="QR" />
        </div>
      </div>
      <div class="text-center mb-5">
        <a
          href="https://www.safeentry.gov.sg/AUNTIESMAMASHOP"
          class="link"
          target="_blank"
          >https://www.safeentry.gov.sg/AUNTIESMAMASHOPs</a
        >
      </div>
      <div class="row justify-content-center">
        <a
          class="btn secondary-btn d-flex align-items-center"
          href="{{ url_for('home') }}"
        >
          <span><b>Back To Home</b></span>
          <i class="material-icons">home</i>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock%}
