<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300;400;700&family=Suez+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./static/assets/img/logo.png"
    />
  </head>

  <body>
    <header
      class="dark-header mt-0 d-flex align-items-center justify-content-center"
    >
      <div>
        <h1>Update Product - Staff</h1>
      </div>
    </header>
    <section class="container-fluid grey-container">
      <form
        class="small-form my-5 d-flex flex-column justify-content-center align-items-center"
        method="POST"
        action=""
      >
        {{ update_form.hidden_tag() }}
        <div class="w-100 mb-3">
          <label for="title">
            <span><b>Title</b></span>
          </label>
          {% if update_form.title.errors %} {{
          update_form.title(class="form-input is-invalid") }}
          <div class="invalid-feedback">
            {% for error in update_form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ update_form.title(class="form-input",
          placeholder="Title")}} {% endif %}
        </div>
        <div class="w-100 mb-3">
          <label for="description">
            <span><b>Description</b></span>
          </label>
          {% if update_form.info.errors %} {{ update_form.info(class="form-input
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in update_form.info.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ update_form.info(class="form-input",
          placeholder="Description of Product")}} {% endif %}
        </div>
        <div class="w-100 mb-3">
          <label for="price">
            <span><b>Price</b></span>
          </label>
          {% if update_form.price.errors %} {{
          update_form.price(class="form-input is-invalid") }}
          <div class="invalid-feedback">
            {% for error in update_form.price.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ update_form.price(class="form-input",
          placeholder="Price")}} {% endif %}
        </div>
        <div id="popup-error" class="error mb-3"></div>
        <div id="popup-success" class="success mb-3"></div>
        {{ update_form.submit(class="btn primary-btn")}}
      </form>
    </section>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"
    ></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>
